#vk-keyboard {
  background-color: black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 358px;
  width: 960px;
}
#vk-keyboard * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#vk-keyboard ::selection {
  background-color: none;
  color: inherit;
}
#vk-keyboard ::-moz-selection {
  background-color: none;
  color: inherit;
}
#vk-keyboard .vk-row > :first-child {
  margin-left: 0 !important;
}
#vk-keyboard .vk-row .vk-key {
  background-color: #444;
  border-radius: 2px;
  cursor: pointer;
  color: #eee;
  font: normal 18px sans-serif;
  float: left;
  height: 58px;
  line-height: 28px;
  margin: 2px 0 0 2px;
  padding: 2px 0 0 8px;
  transition: background-color 0.2s ease;
  width: 58px;
}
#vk-keyboard .vk-row .vk-key:hover {
  background-color: #eee;
  color: #333;
  font-weight: bold;
  z-index: 1000;
}
#vk-keyboard .vk-row .vk-appmenu {
  background-image: url("img/appmenu-key.png");
  background-position: 8px 6px;
  background-repeat: no-repeat;
}
#vk-keyboard .vk-row .vk-arrow-down {
  background-image: url("img/down-key.png");
  background-position: 8px 6px;
  background-repeat: no-repeat;
}
#vk-keyboard .vk-row .vk-arrow-left {
  background-image: url("img/left-key.png");
  background-position: 8px 6px;
  background-repeat: no-repeat;
}
#vk-keyboard .vk-row .vk-arrow-right {
  background-image: url("img/right-key.png");
  background-position: 8px 6px;
  background-repeat: no-repeat;
}
#vk-keyboard .vk-row .vk-arrow-up {
  background-image: url("img/up-key.png");
  background-position: 8px 6px;
  background-repeat: no-repeat;
}
#vk-keyboard .vk-row .vk-backslash {
  width: 89px;
}
#vk-keyboard .vk-row .vk-backspace {
  background-image: url("img/backspace-key.png");
  background-position: 8px 29px;
  background-repeat: no-repeat;
  width: 120px;
}
#vk-keyboard .vk-row .vk-capslock {
  width: 102px;
}
#vk-keyboard .vk-row .vk-ctrl {
  width: 75px;
}
#vk-keyboard .vk-row .vk-enter {
  background-image: url("img/enter-key.png");
  background-position: 8px 29px;
  background-repeat: no-repeat;
  width: 136px;
}
#vk-keyboard .vk-row .vk-lshift {
  background-image: url("img/shift-key.png");
  background-position: 8px 29px;
  background-repeat: no-repeat;
  width: 135px;
}
#vk-keyboard .vk-row .vk-rshift {
  background-image: url("img/shift-key.png");
  background-position: 8px 29px;
  background-repeat: no-repeat;
  width: 103px;
}
#vk-keyboard .vk-row .vk-spacebar {
  width: 386px;
}
#vk-keyboard .vk-row .vk-tab {
  background-image: url("img/tab-key.png");
  background-position: 8px 29px;
  background-repeat: no-repeat;
  width: 89px;
}
#vk-keyboard .vk-row .vk-win {
  background-image: url("img/windows-key.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#vk-keyboard .vk-function .vk-key {
  height: 58px;
  margin-top: 0;
  width: 54px;
}
#vk-keyboard .vk-function .vk-esc {
  width: 56px;
}
#vk-keyboard .vk-function .vk-spid {
  width: 56px;
}
