#vk-keyboard {
  background-color: black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 268px;
  width: 720px;
}
#vk-keyboard * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#vk-keyboard ::selection {
  background-color: none;
  color: inherit;
}
#vk-keyboard ::-moz-selection {
  background-color: none;
  color: inherit;
}
#vk-keyboard .vk-row > :first-child {
  margin-left: 0 !important;
}
#vk-keyboard .vk-row .vk-key {
  background-color: #444;
  border-radius: 2px;
  cursor: pointer;
  color: #eee;
  font: normal 14px sans-serif;
  float: left;
  height: 43px;
  line-height: 20px;
  margin: 2px 0 0 2px;
  padding: 2px 0 0 6px;
  transition: background-color 0.2s ease;
  width: 43px;
}
#vk-keyboard .vk-row .vk-key:hover {
  background-color: #eee;
  color: #333;
  font-weight: bold;
  z-index: 1000;
}
#vk-keyboard .vk-row .vk-appmenu {
  background-image: url("img/appmenu-key.png");
  background-position: 6px 5px;
  background-repeat: no-repeat;
}
#vk-keyboard .vk-row .vk-arrow-down {
  background-image: url("img/down-key.png");
  background-position: 6px 5px;
  background-repeat: no-repeat;
}
#vk-keyboard .vk-row .vk-arrow-left {
  background-image: url("img/left-key.png");
  background-position: 6px 5px;
  background-repeat: no-repeat;
}
#vk-keyboard .vk-row .vk-arrow-right {
  background-image: url("img/right-key.png");
  background-position: 6px 5px;
  background-repeat: no-repeat;
}
#vk-keyboard .vk-row .vk-arrow-up {
  background-image: url("img/up-key.png");
  background-position: 6px 5px;
  background-repeat: no-repeat;
}
#vk-keyboard .vk-row .vk-backslash {
  width: 67px;
}
#vk-keyboard .vk-row .vk-backspace {
  background-image: url("img/backspace-key.png");
  background-position: 6px 22px;
  background-repeat: no-repeat;
  width: 90px;
}
#vk-keyboard .vk-row .vk-capslock {
  width: 76px;
}
#vk-keyboard .vk-row .vk-ctrl {
  width: 56px;
}
#vk-keyboard .vk-row .vk-enter {
  background-image: url("img/enter-key.png");
  background-position: 6px 22px;
  background-repeat: no-repeat;
  width: 102px;
}
#vk-keyboard .vk-row .vk-lshift {
  background-image: url("img/shift-key.png");
  background-position: 6px 22px;
  background-repeat: no-repeat;
  width: 101px;
}
#vk-keyboard .vk-row .vk-rshift {
  background-image: url("img/shift-key.png");
  background-position: 6px 22px;
  background-repeat: no-repeat;
  width: 77px;
}
#vk-keyboard .vk-row .vk-spacebar {
  width: 289px;
}
#vk-keyboard .vk-row .vk-tab {
  background-image: url("img/tab-key.png");
  background-position: 6px 22px;
  background-repeat: no-repeat;
  width: 66px;
}
#vk-keyboard .vk-row .vk-win {
  background-image: url("img/windows-key.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#vk-keyboard .vk-function .vk-key {
  height: 43px;
  margin-top: 0;
  width: 40px;
}
#vk-keyboard .vk-function .vk-esc {
  width: 44px;
}
#vk-keyboard .vk-function .vk-spid {
  width: 41px;
}
