<div id="pnlAbout" class="panel panel-default" style="display: none;">
    <div class="panel-heading">
        About
    </div>
    <div class="panel-body">
        TODO Text goes here
    </div>
    <div class="panel-footer">
        <a href="#" onclick="OpenPanel('HtmlTerm');">Close Panel</a>
        &nbsp; &nbsp; &nbsp; &nbsp
        <input type="checkbox" id="chkSkipAbout" onclick="SetSkipAbout();" /> <label for="chkSkipAbout">Skip this panel next visit</label>
    </div>
</div>
