<div id="pnlAbout" class="panel panel-default" style="display: none;">
    <div class="panel-heading">
        About
    </div>
    <div class="panel-body">
        <p><strong>My fTelnet</strong> is a web based application meant for connecting to BBSes.  It uses some fairly recent features of HTML5, so may not be supported by your browser.  Here's the major features, and when support was added in the various browsers:</p>

        <strong>Canvas</strong> (required: needed to display ansi)<br />
        <ul>
            <li>Android Browser 3</li>
            <li>Blackberry Browser 7</li>
            <li>Chrome 4</li>
            <li>Chrome for Android 33</li>
            <li>Firefox 2</li>
            <li>Firefox for Android 26</li>
            <li>Internet Explorer 9</li>
            <li>Internet Explorer Mobile 10</li>
            <li>iOS Safari 3.2</li>
            <li>Opera 9</li>
            <li>Opera Mini NOT SUPPORTED</li>
            <li>Opera Mobile 10</li>
            <li>Safari 3.1</li>
        </ul>

        <strong>Web Sockets</strong> (required: needed to connect to remote servers)<br />
        <ul>
            <li>Android Browser 4.4</li>
            <li>Blackberry Browser 7</li>
            <li>Chrome 14</li>
            <li>Chrome for Android 33</li>
            <li>Firefox 6</li>
            <li>Firefox for Android 26</li>
            <li>Internet Explorer 10</li>
            <li>Internet Explorer Mobile 10</li>
            <li>iOS Safari 6</li>
            <li>Opera 12.1</li>
            <li>Opera Mini NOT SUPPORTED</li>
            <li>Opera Mobile 12.1</li>
            <li>Safari 6</li>
        </ul>

        <strong>Web Storage</strong> (optional: used to persist dialing directory between visits)<br />
        <ul>
            <li>Android Browser 2.1</li>
            <li>Blackberry Browser 7</li>
            <li>Chrome 4</li>
            <li>Chrome for Android 33</li>
            <li>Firefox 3.5</li>
            <li>Firefox for Android 26</li>
            <li>Internet Explorer 8</li>
            <li>Internet Explorer Mobile 10</li>
            <li>iOS Safari 3.2</li>
            <li>Opera 10.5</li>
            <li>Opera Mini NOT SUPPORTED</li>
            <li>Opera Mobile 11</li>
            <li>Safari 4</li>
        </ul>
    </div>
    <div class="panel-footer">
        <a href="#" onclick="OpenPanel('HtmlTerm');">Close Panel</a>
        &nbsp; &nbsp; &nbsp; &nbsp
        <input type="checkbox" id="chkSkipAbout" onclick="SetSkipAbout();" /> <label for="chkSkipAbout">Skip this panel next visit</label>
    </div>
</div>
