<div id="pnlDialingDirectory" class="panel panel-default" style="display: none;">
    <div class="panel-heading">
        Dialing Directory
    </div>
    <div class="panel-body">
        <p>This is your own personal dialing directory.  Unlock the editing features for just <strong><u>3</u></strong> easy payments of <strong><u>$29.95</u></strong>!</p>
        <p>Just kidding, I haven't gotten around to making the dialing directory editable yet, so you're stuck with my three default entries for now.</p>
        <p>Until I get around to implementing this, you can use the <strong>Quick Connect</strong> menu above to connect to the server of your choice!</p>

        <table class="table table-striped table-bordered table-hover" id="tblDialingDirectory">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Description</th>
                    <th>Hostname</th>
                    <th>Port</th>
                    <th>Proxy?</th>
                    <th>Notes</th>
                    <th>Times Called</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <p class="small">NB: The dialing directory is powered by HTML5 Web Storage, which means the entries are saved by your browser, on your computer, not on my server in an SQL database.  This means if you switch computers, or even switch browsers on the same computer, you won't see the same connections on the new computer/browser.<br />(Once you go back to the original computer/browser, you'll see your custom directory again.)</p>
    </div>
    <div class="panel-footer">
        <a href="#" onclick="OpenPanel('HtmlTerm');">Close Panel</a>
    </div>
</div>
