<div id="pnlDonate" class="panel panel-default" style="display: none;">
    <div class="panel-heading">
        Donate
    </div>
    <div class="panel-body">
        If you like <strong>My fTelnet</strong>, then I'd love to take your money, but let's hold off on that for if/when I actually finish implementing everything!
        @*TODO*@
    </div>
    <div class="panel-footer">
        <a href="#" onclick="OpenPanel('HtmlTerm');">Close Panel</a>
    </div>
</div>
