<div id="pnlFAQ" class="panel panel-default" style="display: none;">
    <div class="panel-heading">
        Frequently Asked Questions
    </div>
    <div class="panel-body">
        TODO Text goes here
    </div>
    <div class="panel-footer">
        <a href="#" onclick="OpenPanel('HtmlTerm');">Close Panel</a>
    </div>
</div>
