<div id="pnlHtmlTerm" style="display: none;">
    <div style="text-align: center;">
        <span id="HtmlTermContainer" />
    </div>

    @Html.Raw(File.ReadAllText(Server.MapPath("~/HtmlTerm/VirtualKeyboard.html")))
</div>