<div id="pnlLoading" class="panel panel-default">
    <div class="panel-heading">
        My fTelnet
    </div>
    <div class="panel-body">
        Loading resources, please wait...
        <div class="progress progress-striped active">
            <div style="width: 100%" class="progress-bar"></div>
        </div>
    </div>
</div>
