<!--
    Original layout by Attila Hajzer http://codepen.io/attilahajzer/
    Originally downloaded from: http://codepen.io/attilahajzer/pen/kydqJ

    Javascript and data keycodes added by Rick Parrish http://www.rickparrish.ca
-->
<div class="keyboard">
    <div class="section-a">
        <div class="key function space1" data-keycode="27">
            Esc
        </div>

        <div class="key function" data-keycode="112">
            F1
        </div>
        <div class="key function" data-keycode="113">
            F2
        </div>
        <div class="key function" data-keycode="114">
            F3
        </div>

        <div class="key function space2" data-keycode="115">
            F4
        </div>
        <div class="key function" data-keycode="116">
            F5
        </div>
        <div class="key function" data-keycode="117">
            F6
        </div>
        <div class="key function" data-keycode="118">
            F7
        </div>
        <div class="key function space2" data-keycode="119">
            F8
        </div>

        <div class="key function" data-keycode="120">
            F9
        </div>
        <div class="key function" data-keycode="121">
            F10
        </div>
        <div class="key function" data-keycode="122">
            F11
        </div>
        <div class="key function" data-keycode="123">
            F12
        </div>
        <!--END FUNCTION KEYS -->

        <div class="key num dual" data-keycode="192">
            ~<br>`
        </div>

        <div class="key num dual" data-keycode="49">
            !<br>1
        </div>
        <div class="key num dual" data-keycode="50">
            @@<br>2
        </div>
        <div class="key num dual" data-keycode="51">
            #<br>3
        </div>
        <div class="key num dual" data-keycode="52">
            $<br>4
        </div>
        <div class="key num dual" data-keycode="53">
            %<br>5
        </div>
        <div class="key num dual" data-keycode="54">
            ^<br>6
        </div>
        <div class="key num dual" data-keycode="55">
            &<br>7
        </div>
        <div class="key num dual" data-keycode="56">
            *<br>8
        </div>
        <div class="key num dual" data-keycode="57">
            (<br>9
        </div>
        <div class="key num dual" data-keycode="48">
            )<br>0
        </div>
        <div class="key num dual" data-keycode="173">
            _<br>-
        </div>
        <div class="key num dual" data-keycode="61">
            +<br>=
        </div>
        <div class="key backspace" data-keycode="8">
            Backspace
        </div>
        <!--END NUMBER KEYS -->

        <div class="key tab" data-keycode="9">
            Tab
        </div>

        <div class="key letter" data-keycode="81">
            Q
        </div>
        <div class="key letter" data-keycode="87">
            W
        </div>
        <div class="key letter" data-keycode="69">
            E
        </div>
        <div class="key letter" data-keycode="82">
            R
        </div>
        <div class="key letter" data-keycode="84">
            T
        </div>
        <div class="key letter" data-keycode="89">
            Y
        </div>
        <div class="key letter" data-keycode="85">
            U
        </div>
        <div class="key letter" data-keycode="73">
            I
        </div>
        <div class="key letter" data-keycode="79">
            O
        </div>
        <div class="key letter" data-keycode="80">
            P
        </div>
        <div class="key dual" data-keycode="219">
            {<br>[
        </div>
        <div class="key dual" data-keycode="221">
            }<br>]
        </div>
        <div class="key letter dual slash" data-keycode="220">
            |<br>\
        </div>
        <div class="key caps" data-keycode="20">
            Caps<br>Lock
        </div>
        <div class="key letter" data-keycode="65">
            A
        </div>
        <div class="key letter" data-keycode="83">
            S
        </div>
        <div class="key letter" data-keycode="68">
            D
        </div>
        <div class="key letter" data-keycode="70">
            F
        </div>
        <div class="key letter" data-keycode="71">
            G
        </div>
        <div class="key letter" data-keycode="72">
            H
        </div>
        <div class="key letter" data-keycode="74">
            J
        </div>
        <div class="key letter" data-keycode="75">
            K
        </div>
        <div class="key letter" data-keycode="76">
            L
        </div>
        <div class="key dual" data-keycode="59">
            :<br>;
        </div>
        <div class="key dual" data-keycode="222">
            "<br>'
        </div>
        <div class="key enter" data-keycode="13">
            Enter
        </div>

        <div class="key shift left" data-keycode="16">
            Shift
        </div>
        <div class="key letter" data-keycode="90">
            Z
        </div>
        <div class="key letter" data-keycode="88">
            X
        </div>
        <div class="key letter" data-keycode="67">
            C
        </div>
        <div class="key letter" data-keycode="86">
            V
        </div>
        <div class="key letter" data-keycode="66">
            B
        </div>
        <div class="key letter" data-keycode="78">
            N
        </div>
        <div class="key letter" data-keycode="77">
            M
        </div>
        <div class="key dual" data-keycode="188">
            &lt; <br>,
        </div>
        <div class="key dual" data-keycode="190">
            ><br>.
        </div>
        <div class="key dual" data-keycode="191">
            ?<br>/
        </div>
        <div class="key shift right" data-keycode="16">
            Shift
        </div>
        <div class="key ctrl" data-keycode="17">
            Ctrl
        </div>
        <div class="key win" data-keycode="91">
            Win
        </div>
        <div class="key alt" data-keycode="18">
            Alt
        </div>
        <div class="key space" data-keycode="32">
            &nbsp;
        </div>
        <div class="key alt" data-keycode="18">
            Alt
        </div>
        <div class="key win" data-keycode="97">
            Win
        </div>
        <div class="key menu" data-keycode="93">
            Menu
        </div>
        <div class="key ctrl" data-keycode="17">
            Ctrl
        </div>
    </div><!-- end section-a-->

    <div class="section-b">
        <div class="key function small" data-keycode="0">
            Prnt Scrn
        </div>
        <div class="key function small" data-keycode="145">
            Scroll Lock
        </div>
        <div class="key function small" data-keycode="19">
            Pause Break
        </div>

        <div class="sec-func">
            <div class="key" data-keycode="45">
                Insert
            </div>
            <div class="key" data-keycode="36">
                Home
            </div>
            <div class="key dual" data-keycode="33">
                Page Up
            </div>
            <div class="key" data-keycode="46">
                Del
            </div>
            <div class="key" data-keycode="35">
                End
            </div>
            <div class="key dual" data-keycode="37">
                Page Down
            </div>

            <div class="arrows">
                <div class="key vis-hidden">

                </div>
                <div class="key" data-keycode="38">
                    ^
                </div>
                <div class="key vis-hidden">

                </div>
                <div class="key" data-keycode="37">
                    &lt;
                </div>
                <div class="key" data-keycode="40">
                    v
                </div>
                <div class="key" data-keycode="39">
                    >
                </div>
            </div><!-- end arrows -->
        </div><!-- end sec-func -->
    </div><!-- end section-b-->
</div>