<div id="pnlWelcome" class="panel panel-default">
    <div class="panel-heading">
        Welcome to <strong>My fTelnet</strong>
    </div>
    <div class="panel-body">
        TODO Text goes here
    </div>
    <div class="panel-footer">
        <a href="#" onclick="OpenPanel('HtmlTerm');">Close Panel</a>
    </div>
</div>
