#vk-keyboard {
  background-color: black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 269px;
  width: 720px;
}
#vk-keyboard * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#vk-keyboard ::selection {
  background-color: none;
  color: inherit;
}
#vk-keyboard ::-moz-selection {
  background-color: none;
  color: inherit;
}
#vk-keyboard .vk-row > :first-child {
  margin-left: 0 !important;
}
#vk-keyboard .vk-row .vk-key {
  background-color: #444;
  border-radius: 2px;
  cursor: pointer;
  color: #eee;
  font: normal 14px sans-serif;
  float: left;
  height: 44px;
  line-height: 20px;
  margin: 1px 0 0 1px;
  padding: 2px 0 0 6px;
  transition: background-color 0.2s ease;
  width: 44px;
}
#vk-keyboard .vk-row .vk-key:hover {
  background-color: #eee;
  color: #333;
  font-weight: bold;
  z-index: 1000;
}
#vk-keyboard .vk-row .vk-backslash {
  width: 67px;
}
#vk-keyboard .vk-row .vk-backspace {
  width: 90px;
}
#vk-keyboard .vk-row .vk-capslock {
  width: 76px;
}
#vk-keyboard .vk-row .vk-ctrl {
  width: 57px;
}
#vk-keyboard .vk-row .vk-enter {
  width: 103px;
}
#vk-keyboard .vk-row .vk-lshift {
  width: 102px;
}
#vk-keyboard .vk-row .vk-rshift {
  width: 77px;
}
#vk-keyboard .vk-row .vk-spacebar {
  width: 289px;
}
#vk-keyboard .vk-row .vk-tab {
  width: 67px;
}
#vk-keyboard .vk-function .vk-key {
  height: 44px;
  margin-top: 0;
  width: 41px;
}
#vk-keyboard .vk-function .vk-esc {
  width: 44px;
}
#vk-keyboard .vk-function .vk-spid {
  width: 42px;
}
