#vk-keyboard {
  background-color: black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 209px;
  width: 560px;
}
#vk-keyboard * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#vk-keyboard ::selection {
  background-color: none;
  color: inherit;
}
#vk-keyboard ::-moz-selection {
  background-color: none;
  color: inherit;
}
#vk-keyboard .vk-row > :first-child {
  margin-left: 0 !important;
}
#vk-keyboard .vk-row .vk-key {
  background-color: #444;
  border-radius: 2px;
  cursor: pointer;
  color: #eee;
  font: normal 12px sans-serif;
  float: left;
  height: 34px;
  line-height: 15px;
  margin: 1px 0 0 1px;
  padding: 2px 0 0 5px;
  transition: background-color 0.2s ease;
  width: 34px;
}
#vk-keyboard .vk-row .vk-key:hover {
  background-color: #eee;
  color: #333;
  font-weight: bold;
  z-index: 1000;
}
#vk-keyboard .vk-row .vk-backslash {
  width: 52px;
}
#vk-keyboard .vk-row .vk-backspace {
  width: 70px;
}
#vk-keyboard .vk-row .vk-capslock {
  width: 59px;
}
#vk-keyboard .vk-row .vk-ctrl {
  width: 44px;
}
#vk-keyboard .vk-row .vk-enter {
  width: 80px;
}
#vk-keyboard .vk-row .vk-lshift {
  width: 79px;
}
#vk-keyboard .vk-row .vk-rshift {
  width: 60px;
}
#vk-keyboard .vk-row .vk-spacebar {
  width: 225px;
}
#vk-keyboard .vk-row .vk-tab {
  width: 52px;
}
#vk-keyboard .vk-function .vk-key {
  height: 34px;
  margin-top: 0;
  width: 32px;
}
#vk-keyboard .vk-function .vk-esc {
  width: 32px;
}
#vk-keyboard .vk-function .vk-spid {
  width: 32px;
}
