.vk_keyboard {
    width: 470px;
    height: 347px;
    margin: 0px auto;
    padding: 5px;
    margin-top: 5px;
}

.vk_key {
    width: 30px;
    height: 40px;
    padding-left: 8px;
    line-height: 29px;
    margin-left: 2px;
    margin-bottom: 2px;
}

.vk_left_half {
    width: 470px;
    height: 260px;
}

.vk_right_half {
    border-top: 2px dashed #333333;
    width: 470px;
    height: 260px;
    padding-top: 5px;
}

.vk_function {
    font-size: 12px;
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
    text-align: center;
    padding-left: 0;
}

.vk_small {
    font-size: 10px;
    line-height: 13px;
    padding: 0 5px;
    padding-top: 2px;
    height: 28px !important;
}

.vk_space1 {
    margin-right: 18px !important;
}

.vk_space2 {
    margin-right: 18px !important;
}

.vk_dual {
    font-size: 14px;
    line-height: 20px;
    width: 22px;
}

.vk_backspace {
    width: 44px;
    font-size: 12px;
}

.vk_tab {
    width: 44px;
    line-height: 40px;
    font-size: 13px;
}

.vk_letter {
    width: 22px;
}

.vk_slash {
    width: 22px;
}

.vk_caps {
    width: 48px;
    font-size: 12px;
    line-height: 18px;
}

.vk_enter {
    width: 58px;
    line-height: 40px;
    padding-left: 0;
}

.vk_shift.vk_left {
    width: 65px;
    line-height: 40px;
    font-size: 13px;
}

.vk_shift.vk_right {
    width: 65px;
    line-height: 40px;
    font-size: 13px;
}

.vk_ctrl {
    width: 30px;
    line-height: 40px;
    font-size: 13px;
}

.vk_win {
    line-height: 40px;
    font-size: 13px;
}

.vk_alt {
    line-height: 40px;
    font-size: 13px;
}

.vk_menu {
    line-height: 40px;
    font-size: 13px;
}

.vk_space {
    width: 180px;
}

.vk_arrow_keys {
    float: left;
    position: relative;
    top: 0px;
    width: 117px;
}

.vk_nav_keys {
    float: left;
    margin-right: 45px;
    width: 126px;
}
.vk_nav_keys .vk_key {
    width: 32px;
    font-size: 10px;
    line-height: 50px;
}

.vk_nav_keys .vk_dual {
    line-height: 20px;
}

.vk_arrow_keys .vk_key {
    padding-left: 7px;
    margin-left: 2px;
}

.vk_newrow {
    clear: left;
}

.vk_special_keys
{
    float: left;
    margin-right: 50px;
}