#vk-keyboard {
  background-color: black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 298px;
  width: 800px;
}
#vk-keyboard * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#vk-keyboard ::selection {
  background-color: none;
  color: inherit;
}
#vk-keyboard ::-moz-selection {
  background-color: none;
  color: inherit;
}
#vk-keyboard .vk-row > :first-child {
  margin-left: 0 !important;
}
#vk-keyboard .vk-row .vk-key {
  background-color: #444;
  border-radius: 2px;
  cursor: pointer;
  color: #eee;
  font: normal 15px sans-serif;
  float: left;
  height: 48px;
  line-height: 22px;
  margin: 2px 0 0 2px;
  padding: 2px 0 0 7px;
  transition: background-color 0.2s ease;
  width: 48px;
}
#vk-keyboard .vk-row .vk-key:hover {
  background-color: #eee;
  color: #333;
  font-weight: bold;
  z-index: 1000;
}
#vk-keyboard .vk-row .vk-appmenu {
  background-image: url("img/appmenu-key.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#vk-keyboard .vk-row .vk-backslash {
  width: 74px;
}
#vk-keyboard .vk-row .vk-backspace {
  width: 100px;
}
#vk-keyboard .vk-row .vk-capslock {
  width: 85px;
}
#vk-keyboard .vk-row .vk-ctrl {
  width: 62px;
}
#vk-keyboard .vk-row .vk-enter {
  width: 113px;
}
#vk-keyboard .vk-row .vk-lshift {
  width: 112px;
}
#vk-keyboard .vk-row .vk-rshift {
  width: 86px;
}
#vk-keyboard .vk-row .vk-spacebar {
  width: 322px;
}
#vk-keyboard .vk-row .vk-tab {
  width: 74px;
}
#vk-keyboard .vk-row .vk-win {
  background-image: url("img/windows-key.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#vk-keyboard .vk-function .vk-key {
  height: 48px;
  margin-top: 0;
  width: 45px;
}
#vk-keyboard .vk-function .vk-esc {
  width: 48px;
}
#vk-keyboard .vk-function .vk-spid {
  width: 45px;
}
