.vk_keyboard {
    width: 550px;
    height: 350px;
}

.vk_key {
    width: 40px;
}

.vk_left_half {
    width: 550px;
}

.vk_right_half {
    border-top: 2px dashed #333333;
    width: 550px;
    height: 85px;
    padding-top: 5px;
}

.vk_function {
    text-align: center;
    padding-left: 0;
    width: 35px;
}

.vk_space1 {
    margin-right: 23px !important;
}

.vk_space2 {
    margin-right: 21px !important;
}

.vk_dual {
    width: 26px;
}

.vk_backspace {
    width: 68px;
}

.vk_tab {
    width: 44px;
}

.vk_letter {
    width: 26px;
}

.vk_slash {
    width: 50px;
}

.vk_caps {
    width: 54px;
}

.vk_enter {
    width: 84px;
}

.vk_shift.vk_left {
    width: 83px;
}

.vk_shift.vk_right {
    width: 83px;
}

.vk_ctrl {
    width: 40px;
}

.vk_space {
    width: 186px;
}

.vk_arrow_keys {
    float: left;
    top: 0px;
    width: 147px;
}

.vk_nav_keys {
    float: left;
    margin-right: 70px;
    width: 126px;
}

/*.vk_nav_keys .vk_key {
    line-height: 50px;
}*/

.vk_newrow {
    clear: left;
}

.vk_special_keys
{
    float: left;
    margin-right: 75px;
}