.vk_keyboard {
    width: 790px;
    height: 255px;
}

.vk_key {
    width: 40px;
}
.vk_left_half {
    width: 654px;
}

.vk_right_half {
    width: 136px;
    height: 260px;
}

.vk_function {
    width: 30px;
}

.vk_small {
    width: 32px;
}

.vk_space1 {
    margin-right: 35px !important;
}

.vk_space2 {
    margin-right: 25px !important;
}

.vk_dual {
    width: 30px;
}

.vk_backspace {
    width: 75px;
}

.vk_tab {
    width: 50px;
}

.vk_letter {
    width: 30px;
}

.vk_slash {
    width: 55px;
}

.vk_caps {
    width: 60px;
}

.vk_enter {
    width: 93px;
}

.vk_shift.vk_left {
    width: 80px;
}

.vk_shift.vk_right {
    width: 105px;
}

.vk_ctrl {
    width: 60px;
}

.vk_space {
    width: 205px;
}

.vk_arrow_keys {
    position: relative;
    top: 42px;
}

.vk_nav_keys .vk_key {
    width: 34px;
}

.vk_arrow_keys .vk_key {
    width: 34px;
}

