.vk_keyboard {
    width: 950px;
    height: 276px;
}

.vk_key {
    height: 42px;
    width: 50px;
}
.vk_left_half {
    width: 793px;
}

.vk_right_half {
    width: 156px;
    height: 260px;
}

.vk_function {
    width: 40px;
}

.vk_small {
    height: 40px !important;
    width: 40px;
}

.vk_space1 {
    margin-right: 35px !important;
}

.vk_space2 {
    margin-right: 25px !important;
}

.vk_dual {
    width: 40px;
}

.vk_backspace {
    width: 75px;
}

.vk_tab {
    width: 60px;
}

.vk_letter {
    width: 40px;
}

.vk_slash {
    width: 55px;
}

.vk_caps {
    width: 70px;
}

.vk_enter {
    width: 103px;
}

.vk_shift.vk_left {
    width: 90px;
}

.vk_shift.vk_right {
    width: 125px;
}

.vk_ctrl {
    width: 65px;
}

.vk_space {
    width: 275px;
}

.vk_arrow_keys {
    position: relative;
    top: 44px;
}

.vk_nav_keys .vk_key {
    width: 42px;
}

.vk_arrow_keys .vk_key {
    width: 42px;
}

