.vk_keyboard {
    font-family: sans-serif;
    background-color: #111;
    margin: 0px auto;
    border-radius: 5px;
    padding: 5px;
    color: #eee;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin-top: 5px;
}

    .vk_keyboard * {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

    .vk_keyboard ::selection {
        background-color: none;
        color: inherit;
    }
    .vk_keyboard ::-moz-selection {
        background-color: none;
        color: inherit;
    }


.vk_key {
    height: 40px;
    display: block;
    background-color: #333;
    text-align: left;
    padding-left: 8px;
    line-height: 29px;
    border-radius: 2px;
    float: left;
    margin-left: 2px;
    margin-bottom: 2px;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}

.vk_left_half {
    height: 260px;
    float: left;
}

.vk_right_half {
    float: left;
}

.vk_function {
    font-size: 12px;
    height: 30px;
    margin-bottom: 15px;
}

.vk_small {
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    padding: 0 5px;
    padding-top: 2px;
    height: 28px !important;
}

.vk_dual {
    font-size: 14px;
    line-height: 20px;
}

.vk_backspace {
    font-size: 12px;
}

.vk_tab {
    line-height: 40px;
    font-size: 13px;
}

.vk_caps {
    font-size: 12px;
    line-height: 18px;
}

.vk_enter {
    line-height: 40px;
    text-align: center;
    padding-left: 0;
}

.vk_shift.vk_left {
    line-height: 40px;
    font-size: 13px;
}

.vk_shift.vk_right {
    line-height: 40px;
    font-size: 13px;
}

.vk_ctrl {
    line-height: 40px;
    font-size: 13px;
}

.vk_win {
    line-height: 40px;
    font-size: 13px;
}

.vk_alt {
    line-height: 40px;
    font-size: 13px;
}

.vk_menu {
    line-height: 40px;
    font-size: 13px;
}

.vk_nav_keys .vk_key {
    width: 32px;
    font-size: 10px;
    text-align: left;
    line-height: 40px;
    float: left;
}

.vk_nav_keys .vk_dual {
    line-height: 20px;
}

.vk_arrow_keys .vk_key {
    text-align: center;
    padding-left: 7px;
    margin-left: 2px;
}

.vk_hidden {
    visibility: hidden;
}

.vk_key:hover {
    box-shadow: 0px 0px 10px #eee;
    z-index: 1000;
}

.vk_newrow {
    clear: left;
}