#vk-keyboard {
  background-color: black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 179px;
  width: 480px;
}
#vk-keyboard * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#vk-keyboard ::selection {
  background-color: none;
  color: inherit;
}
#vk-keyboard ::-moz-selection {
  background-color: none;
  color: inherit;
}
#vk-keyboard .vk-row > :first-child {
  margin-left: 0 !important;
}
#vk-keyboard .vk-row .vk-key {
  background-color: #444;
  border-radius: 2px;
  cursor: pointer;
  color: #eee;
  font: normal 10px sans-serif;
  float: left;
  height: 29px;
  line-height: 12px;
  margin: 1px 0 0 1px;
  padding: 2px 0 0 4px;
  transition: background-color 0.2s ease;
  width: 29px;
}
#vk-keyboard .vk-row .vk-key:hover {
  background-color: #eee;
  color: #333;
  font-weight: bold;
  z-index: 1000;
}
#vk-keyboard .vk-row .vk-appmenu {
  background-image: url("img/appmenu-key.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#vk-keyboard .vk-row .vk-backslash {
  width: 45px;
}
#vk-keyboard .vk-row .vk-backspace {
  width: 60px;
}
#vk-keyboard .vk-row .vk-capslock {
  width: 51px;
}
#vk-keyboard .vk-row .vk-ctrl {
  width: 37px;
}
#vk-keyboard .vk-row .vk-enter {
  width: 68px;
}
#vk-keyboard .vk-row .vk-lshift {
  width: 67px;
}
#vk-keyboard .vk-row .vk-rshift {
  width: 52px;
}
#vk-keyboard .vk-row .vk-spacebar {
  width: 194px;
}
#vk-keyboard .vk-row .vk-tab {
  width: 44px;
}
#vk-keyboard .vk-row .vk-win {
  background-image: url("img/windows-key.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#vk-keyboard .vk-function .vk-key {
  height: 29px;
  margin-top: 0;
  width: 27px;
}
#vk-keyboard .vk-function .vk-esc {
  width: 28px;
}
#vk-keyboard .vk-function .vk-spid {
  width: 28px;
}
